<div class="container">
  <h1>Create your very own drink</h1>
  <h6>Patent application procedure included</h6>
  <%= simple_form_for(@cocktail) do |f| %>
    <%= f.input :name %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.submit "Save", class: "btn btn-success" %>
  <% end %>
</div>
