<div class="container">
  <h1><%= @cocktail.name %></h1>
  <% @cocktail.doses.each do |dose| %>
    <h3><%= dose.description%>: <%= dose.ingredient.name %>
    <%= link_to "Remove ingredient", dose_path(dose),  method: :delete, data: { confirm: "R U sure?" }, class: "btn btn-danger" %></h3>
  <% end %>
  <%= link_to "Back", cocktails_path, class: "btn btn-primary" %>
  <%= link_to "Add ingredient", new_cocktail_dose_path(@cocktail), class: "btn btn-warning" %>
  <%= link_to "Rename", edit_cocktail_path(@cocktail), class: "btn btn-warning" %>
  <%= link_to "Delete", cocktail_path(@cocktail), method: :delete, data: { confirm: "R U sure?" }, class: "btn btn-danger" %>
  <%=  %>
</div>
